.search-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  background: #f4f4f9;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Add spacing between inputs */
}

.input-group {
  flex: 1;
  margin: 0 10px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 18px;
  outline: none;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border: 1px solid #007bff;
}

.search-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.results-container {
  margin-top: 30px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px; /* Add spacing between book cards */
}

.book-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-cover-container {
  position: relative;
  padding-bottom: 150%;
  overflow: hidden;
  border-radius: 10px;
}

.book-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-info {
  padding-top: 10px;
  text-align: center;
}

.clickable-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  cursor: pointer;
}

.clickable-title:hover {
  color: #007bff;
}

.author {
  font-size: 1rem;
  color: #555;
}

.publish-year {
  font-size: 0.9rem;
  color: #888;
}

.genres {
  font-size: 0.9rem;
  color: #555;
}

.fav-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.fav-button:hover {
  background-color: #0056b3;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-auth-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.auth-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.auth-buttons button:hover {
  background-color: #0056b3;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

